# This is an example rclone.conf file for the SeaweedFS solution.
#
# It is highly recommended to create this file using `rclone config`.
# Run `rclone config` on your local machine, then copy the generated
# file to this directory and rename it to `rclone.conf`.
#
# The `pass` field will be automatically encrypted by `rclone config`.

[webdav-remote]
type = webdav
url = http://example.com/remote.php/dav/files/username/
vendor = other
user = your-webdav-username
pass = your-encrypted-password-from-rclone-config
