#
# Example Environment Variables
#
# Please replace the placeholder values with your actual configuration.
#

# The port on which the service will be exposed.
SERVICE_PORT=8000

# A secret key for signing sessions.
# You can generate a new one with: openssl rand -hex 32
SECRET_KEY=your-secret-key-here
